/* CSS declarations go here */
.main-container{
    padding-top: 60px;
}

.div-btn-discussion{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px; 

    /* margin: 10px 0px; */
}

.div-btn-discussion  .btn-discussion{
    height: 50px;
    width: 100%;
}

.user-img{
    display: inline-block;
}

.center-text{
    text-align: center;
}

.nav-sidebar { 
    width: 20%;
    /* padding: 30px 0;  */
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}