

<template name="BlogsCategory">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 div-btn-discussion">
            <!-- <a href="/blogs/discussion/{{cat}}"> discussion / id </a> -->
            <!-- <a href="/blogs/{{cat}}/discussion" class="btn btn-primary btn-discussion"> 
            </a>    --> 

            <button class="btn btn-primary btn-discussion">
                 Join Discussion

            </button>
        </div>
        
        {{#each blogs}}
            <div class="col-sm-offset-2 col-sm-8">
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2> <a href="/blog/{{_id}}">{{title}}</a>  </h2>
                        <h4> {{creator }} </h4>
                        <i class="fa fa-comments-o pull-right"> {{comments _id}} </i>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>