<template name="Blog">

    <br>
    {{#if isCreator}}
         {{>updateAndDelete}}
    {{/if}}

    {{#if isInRole 'admin'}}

        <!-- {{>updateAndDelete}} -->
        <button class="btn btn-danger delete-post">
            <i class="fa fa-trash"></i>
            delete
        </button>
        
        <a class="btn btn-success" href="/blog/edit/{{blog._id}}">
            <i class="fa fa-pencil"></i>
            Edit post
        </a>
    {{/if }}


    <h1>{{blog.title}}</h1>
    <div>
        <p>By: {{blog.createdBy}}</p>
        <p>{{blog.createdAt}}</p>

        <p>{{blog.body}}</p>

        <h5>Category:</h5>
        {{#each blog.categories}}
            <small>{{blog.categories}}</small> 
        {{/each}}

        <form>
            <div class="">
                <textarea id="input-comment" cols="30" rows="5" class="form-control" placeholder="Add a comment"></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        {{#each blog.comments}}
            <!-- <h1>{{username}}</h1>
            <p>{{date}}</p>
            <p>{{comment}}</p> -->
            <div class="panel panel-default" >
                <div class="panel-heading" >

                    {{#if isInRole 'admin'}}
                        {{userId}}
                    {{else}}
                        <a href="/profile/{{blog._id}}/">{{userId}}</a>
                    {{/if}}

                    {{# if isEditing commentId}}
                        <button class="btn btn-primary save-edit">
                            <i class="fa fa-floppy-o"></i>
                            save
                        </button>
                    {{/if}}
                    <span class="pull-right">
                        {{date}}
                         <!-- {{#if isInRole 'admin' or isCreator}} -->

                         {{#if currentUser}}
                            

                            {{#if isCommentor userId}}
                                {{>modifyComment}}
                            {{else if isInRole 'admin'}}
                                 {{>modifyComment}}
                            {{/if}}

                         {{/if}}
                    </span>  
                    
                </div>
                
                <div id="{{commentId}}" class="panel-body edit-comment">{{comment}}</div>
            </div>
            
        {{/each}}
        
    </div>

</template>


<template name="modifyComment">

    <input type="hidden" name="commentId" value=" {{commentId}} ">
    
    <button id="{{commentId}}" class="btn btn-danger delete-comment" onclick="deleteComment('{{commentId}}')">
        <i class="fa fa-trash"></i>
    </button>

    <button class="btn btn-success edit-comment" onclick="editComment('{{commentId}}')">
        <i class="fa fa-pencil"></i>
    </button>

    <script>
        function deleteComment(commentId){
            var postId = FlowRouter.getParam('id');
            Meteor.call('deleteComment', postId, commentId);
        }

        function editComment(commentId){
            var postId = FlowRouter.getParam('id');
            Meteor.call('editComment', postId, commentId);
        }
    </script>
</template>



<template name="updateAndDelete">
    <button class="btn btn-danger delete-post">
        <i class="fa fa-trash"></i>
        delete
    </button>

    <a class="btn btn-success" href="/blog/edit/{{blog._id}}">
        <i class="fa fa-pencil"></i>
        Edit post
    </a>
</template>