

<template name="CatDiscussion">

        <h1>{{getCategory}}</h1>

    <div class="text text-r" style="background:whitesmoke !important; padding-left: 10px;">
        
        {{#each category.messages}}
            {{message}} 
            <br>
            <small>{{name}}{{time}}</small>
            <hr> 
        {{/each}}
    </div>

        
       
        

    <form autocomplete="off">
        
        <input id="input-message" type="text" class="form-control">
        <button class="btn btn-primary btn-send">
            send
        </button>
    </form>



</template>