<template name="CreateBlog">

    {{#if currentUser}}
        <h1>create new blog</h1>
        <form>
            
            <div class="form-group">
                
                <input id="input-blogTitle" type="text" class="form-control" placeholder="blog title">
                <textarea id="input-blogBody" cols="30" rows="10" class="form-control"></textarea>
                
                <p>Select Categories:</p>
                
                {{#each categories}}
                    
                    <label class="checkbox-inline"><input type="checkbox" name="category" value="{{name}}">{{name}}</label>
                {{/each}}
                <br>
                <br>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {{else}}
        <p>please login to create a blog</p>
    {{/if}}

</template>