<template name="EditBlog">

    {{#if currentUser}}
    <h1>EditBlog</h1>
    <form>

        <div class="form-group">

            <input id="input-blogTitle" value="{{blog.title}}" type="text" class="form-control" placeholder="blog title">
            <textarea id="input-blogBody" cols="30" rows="10" class="form-control">{{blog.body}}</textarea>

            <p>Categories:</p>

            {{#each categories}}

                <label class="checkbox-inline">
                <input type="checkbox" name="category" value="{{name}}">{{name}}</label>
            {{/each}}
            <br>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {{else}}
    <p>please login</p>
    {{/if}}

</template>