<template name="Home">

    <div class="container">
        <div class="">
            <nav class="nav-sidebar">
                <h4>Top topics</h4>
                <ul class="nav tabs">
                     {{#each categories}} 

                        <li>
                            <a href="/blogs/{{name}}" ># {{name}} <i class="pull-right"> {{count}}</i></a>
                        </li>
                     {{/each}}
                    
                   <!--  <li class="">
                        <a href="#tab2" >Dolor asit amet</a>
                    </li>
                    <li class="">
                        <a href="#tab3" >Stet clita</a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </div>
    

</template>