<template name="UserDashboard">
{{#if currentUser}}
    <div class="container">
        <section style="display:inline; margin-bottom:20px">
            <h1 style="margin-left:15px" class="">Username: {{currentUser.username}}</h1>
            <div style="margin-bottom:20px" class="row">
                <div class="col-md-4">
                    <img width="180" height="180" src="http://www.newsshare.in/wp-content/uploads/2017/04/Miniclip-8-Ball-Pool-Avatar-11.png" class="img-circle img-responsive user-img" alt="Avatar">
                    <input class="btn btn-primary" type="file">

                </div>
                <div class="col-md-6">
                    <h4>About:</h4>
                    <p>
                        Eu veniam mollit dolore amet ut exercitation 
                        nostrud reprehenderit minim aliqua et anim cupidatat velit.
                    </p>
                </div>
            </div>
        </section>

        
        <div class="row">
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Blogs posted</h2>
                    </div>
                    <div class="panel-body">
                    {{#each posts}}
                        <a href="/blog/{{_id}}"><h4>{{title}}</h4></a>
                    {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Popular blogs</h2>
                    </div>
                    <div class="panel-body">
                         {{#each posts}} {{#if greater comments.length 2}}
                            <div>
                                <a href="/blog/{{_id}}">
                                    <h4 style="display: inline">{{title}}</h4>
                                </a>
                                <i class="fa fa-comments-o pull-right"> {{comments.length}} </i>
                            
                            </div>
                        {{/if}} {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Notifications</h2>
                    </div>
                    <div class="panel-body">
                        <li>Nulla consectetur proident</li>
                        <li>Nulla consectetur proident</li>
                        <li>Nulla consectetur proident</li>
                    </div>
                </div>
            </div>


        </div><!--END OF ROW  -->


    </div> <!-- END OF CONTAINER -->
   

{{/if}}    
</template>



<!-- <section>
    <nav class="navbar dashboard-nav">
        <ul class="nav navbar-nav">
            <li>
                <a href="dashboard">Dashboard</a>
            </li>
            <li>
                <a href="posts">Posts</a>
            </li>
            <li>
                <a href="notifications">Notifications</a>
            </li>
            <li>
                <a href="messages">Messages</a>
            </li>
        </ul>
    </nav>
</section>
 -->


