<template name="AdminLayout">

    {{#if currentUser}}
        {{>AdminNav}}
    {{else}}

    {{/if}}
    <div class="container main-container">

        {{>Template.dynamic template=main}}

    </div>


</template>