<template name="AdminNav">

    <nav class="navbar navbar-default navbar-fixed-top one-edge-shadow" style="box-shadow: 0px 0px 1px #eee !important;">
        <div class="collapse navbar-collapse" id="mainNavBar">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">MYC Blog</a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/blogs">Blogs</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right:5%;">
                <li>
                    <a href="#" class="login-buttons">
                        {{>loginButtons align="right"}}</a>
                </li>
                
            </ul>

        </div>
    </nav>

</template>




