
<template name="Navtop">

    {{>LoginModal}}
   <nav class="navbar navbar-default navbar-fixed-top one-edge-shadow" style="box-shadow: 0px 0px 1px #eee !important;">
      <div class="collapse navbar-collapse collapse" id="mainNavBar">

         <div class="navbar-header">
            <a class="navbar-brand" href="/">MYC Blog</a>
         </div>
   
         <ul class="nav navbar-nav">
            <li>
               <a href="/blogs">Blogs</a>
            </li>
            
            <li>
                <a href="/blog/create">Write a post</a>
            </li>
 
         </ul>
   
         <ul class="nav navbar-nav navbar-right" style="margin-right:5%;">
            <!-- <li>
                <a href="#" class="login-buttons">
                    {{>loginButtons align="right"}}</a>
            </li> -->

            {{#if currentUser}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{currentUser.username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile/{{currentUser._id}}">profile</a>
                        </li>
                        
                        <li role="separator" class="divider"></li>
                        
                        <li>
                            <a href="#" class="dropdown-toggle logout" 
                            data-toggle="dropdown" role="button">Logout
                            </a>

                        </li>

                    </ul>
                </li>
            {{else}}
                <li >
                    <a href="#" data-toggle="modal" data-target="#login-modal">Login/Register</a>
                </li>
            {{/if}}

            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login-modal">Login/Register</button>
            
                </ul>
            </li> -->

            

         </ul>

   
      </div>
   </nav>

</template>



<!-- <template name="Navtop">

   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">MYC Blog</a>
         </div>
         <ul class="nav navbar-nav">
            <li class="active">
               <a href="#">Home</a>
            </li>

         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="#" class="">
                  {{username}}</a>
            </li>
            <li>
               <a href="#" class="logout">
                  <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
         </ul>


      </div>
   </nav>
</template>
 -->