<template name="AdminDashboard">
{{#if currentUser}}


<div class="container">
    
    

    <h1>AdminDashboard</h1>
    
    <div class="row" style="padding-top:15px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 style="display:inline;">Categories:</h2>
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#category-modal">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Category
                    </button>
                </div>
                <div class="panel-body">
                    {{#each categories}}
                    <div style="width: 200px">
                        <h4 style="display: inline">#{{name}}</h4>
                        <small class="pull-right">{{count}}</small>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 style="display:inline;">Users:</h2>
                    </div>
                    <div class="panel-body">
                        {{#each users}}
                            <div>
                                <!-- {{#if greater userPost _id 2}} -->
                                    <h4 style="display:inline">{{username}}</h4>
                                    <small class="pull-right">posts({{userPosts _id}})</small>
                                <!-- {{/if}} -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
    
    {{>CategoryModal}}
    </div>
{{/if}}
</template>