<template name="AdminLogin">


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Admin Login</h1>
                <form class="form-signin">
                    <input id="admin-username" type="text" class="form-control" placeholder="Username" required>
                    <input id="admin-password" type="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Login</button>

                        <!-- {{>atForm}} -->
                </form>
        </div>
    </div>
</div>


</template>