

<template name="CategoryModal">
    <div id="category-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        New blog category
                    </div>
                    <div class="modal-body">
                        <input id="input-category" type="text" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
            
            
        </div>
    </div>
</template>